# Data Science Tools and Ecosystem

**Objectives:**
- List popular languages for Data Science.
- List common libraries used by Data Scientists.
- Make table of some Data Science Tools.
- Demonstrate arithmetic operations with Python.

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. NumPy
3. Plotly
4. TensorFlow

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| R Studio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python
3 * 3
3 + 3
3 - 3

In [1]:
# This a simple arithmetic expressionto mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes tohours by diving by 60
200 / 60

3.3333333333333335